body { margin: 0; padding: 0; }
#map { 
    position: absolute; top: 0; bottom: 0; width: 100%; 
    z-index: 1;
}

.mapboxgl-popup-content {
	display: table;
}
.mbview_property {
	display: table-row;
}
.mbview_property-value {
	display: table-cell;
}
.mbview_property-name {
	display: table-cell;
	padding-right: 10px;
}
.map-overlay {
    position: absolute;
	top: 20;
	left: 20;
	padding: 5px;
    z-index: 200; 
}